[Unit]
Description=Head control service
After=network.target

[Service]
Type=simple
ExecStart=/home/booster/Workspace/THMOS/MOS-Brain/decider/scripts/head_control.sh
WorkingDirectory=/home/booster/Workspace/THMOS/MOS-Brain
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target