[Unit]
Description=interface for booster scripts  
After=network.target

[Service]
Type=simple
ExecStart=%h/Workspace/THMOS/MOS-Brain/decider/scripts/interface_booster.sh
WorkingDirectory=%h/Workspace/interface-booster
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target